{% extends '::base.html.twig' %}

{% block container %}
    <a href="{{ path('admin_participants') }}">Participants</a><br />
    <a href="{{ path('admin_vacation_slots') }}">Vacation slots</a><br />
    <a href="{{ path('admin_breakfast_done') }}">Breakfast done</a>
{% endblock container %}
